# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal

# Static files
staticfiles/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/

# Migrations cache
*/__pycache__/